<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>
    <main>
        <h1>Product Post Create</h1>
        <br>
            <form method="POST" action="/db/product-posts/add" enctype="multipart/form-data">
                <label for="seller_email">Enter Seller Email:</label>
                <input type="email" name="seller_email" id="seller_email">
                <br>
                <label for="name">Enter the Product Name:</label>
                <input type="text" name="name" id="name">
                <br>
                <label for="description">Enter the New description:</label>
                <input type="text" name="description" id="description">
                <br>
                <label for="price">Enter the Price:</label>
                <input type="text" name="price" id="price">
                <br>
                <label for="image_url">Enter the Image URL:</label> 
                <input type="url" name="image_url" id="image_url">
                <br>
                <label for="category">Enter the Category:</label>
                <input type="text" name="category" id="category">
                <br>
                <label for="tags">Enter the Tags:</label>
                <input type="text" name="tags" id="tags"> <!---#TODO:Need to get the tags as list-->
                <br>
                <input type="submit" value="Submit">
            </form>
    </main>
</body>
</html>